<nav class="sidebar">
    <div class="p-4">
      <h3 class="text-center">Insetec</h3>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">
            <mat-icon> format_list_bulleted</mat-icon>Anúncios
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reportes" routerLinkActive="active">
            <mat-icon>announcement</mat-icon>Reportes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">
            <mat-icon>supervised_user_circle</mat-icon>Usuários
          </a>
        </li>
      </ul>
    </div>
</nav>