<div class="container-fluid" style="padding-left: 0;">
  <app-header></app-header>

  <div class="row">
    <app-sidebar class="col-md-2"></app-sidebar>

    <main class="col-md-10" style="padding-top: 70px;">
      <div class="container mt-4">
        <!-- Abas -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <button class="nav-link" [ngClass]="{'active': activeTab === 'dados-basicos'}" (click)="activeTab = 'dados-basicos'">Dados Básicos</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" [ngClass]="{'active': activeTab === 'endereco'}" (click)="activeTab = 'endereco'">Endereço</button>
          </li>
        </ul>

        <!-- Conteúdo das abas -->
        <div class="tab-content mt-3">
          <!-- Aba Dados Básicos -->
          <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'dados-basicos'}" id="dados-basicos">
            <div class="d-flex justify-content-between align-items-center">
              <h2 class="d-inline-block">Dados Básicos</h2>
              <button class="btn btn-danger" (click)="deleteUser(user.id)">Deletar Conta</button>
            </div>
            <div>
              <div class="form-group">
                <label for="login">Email:</label>
                <input type="text" class="form-control" id="login" [(ngModel)]="user.login" name="login" disabled>
              </div>
              <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name">
              </div>
              <div class="form-group">
                <label for="role">Função:</label>
                <select class="form-control" id="role" [(ngModel)]="user.role" name="role" disabled>
                  <option value="USER">Usuário</option>
                  <option value="SELLER">Vendedor</option>
                  <option value="ADMIN">Admin</option>
                </select>
              </div>
              <br>
              <button type="submit" class="btn btn-primary" (click)="saveUser()">Salvar</button>
            </div>
          </div>
          <!-- Aba Endereço -->
          <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'endereco'}" id="endereco">
            <h2>Endereço</h2>
            <!-- Coloque os campos do endereço aqui -->
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
