<div class="container-fluid" style="padding-left: 0;">
    <app-header></app-header>
        <div class="row">
            <app-sidebar class="col-md-2"></app-sidebar>
        
            <main class="col-md-10" style="padding-top: 70px;">

                <h2>{{ isEditing ? 'Editar Anúncio' : 'Criar Anúncio' }}</h2>
                <form (ngSubmit)="onSubmit()" class="announcement-form container mt-5" enctype="multipart/form-data">

                    <div class="form-group mb-3">
                        <label for="name">Título do anúncio:</label>
                        <input [(ngModel)]="announcement.name" name="name" id="name" class="form-control" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="price">Preço:</label>
                        <input [(ngModel)]="announcement.price" name="price" id="price" type="number" class="form-control" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="birth">Nascimento do animal:</label>
                        <input [(ngModel)]="announcement.birth" name="birth" id="birth" type="date" class="form-control" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="rga">Registro Geral do Animal:</label>
                        <input [(ngModel)]="announcement.rga" name="rga" id="rga" class="form-control">
                    </div>

                    <div class="form-group mb-3">
                        <label for="code">Código do animal (brinco):</label>
                        <input [(ngModel)]="announcement.code" name="code" id="code" class="form-control" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="idBreed">Raça:</label>
                        <input [(ngModel)]="announcement.idBreed" name="idBreed" id="idBreed" class="form-control" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="idBreedPaternal">Raça paternal:</label>
                        <input [(ngModel)]="announcement.idBreedPaternal" name="idBreedPaternal" id="idBreedPaternal" class="form-control" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="idBreedMaternal">Raça maternal:</label>
                        <input [(ngModel)]="announcement.idBreedMaternal" name="idBreedMaternal" id="idBreedMaternal" class="form-control" required>
                    </div>                 

                    <div class="form-group mb-3">
                        <label for="file">Imagens:</label>
                        <input type="file" name="file" id="file" class="form-control" (change)="onFileSelected($event)" multiple required>
                    </div>
                    
                    <div *ngIf="files.length > 0" class="mb-3">
                        <p>Imagens selecionadas:</p>
                        <ul>
                            <li *ngFor="let file of files">{{ file.name }}</li>
                        </ul>
                    </div>                                       

                    <div class="form-group mb-3">
                        <label for="note">Observações:</label>
                        <textarea [(ngModel)]="announcement.note" name="note" id="note" class="form-control" rows="7" required></textarea>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-primary">{{ isEditing ? 'Salvar Edição' : 'Enviar' }}</button>
                </form>

            </main>
    </div>
</div>
