<div class="container-fluid" style="padding-left: 0;">
    <app-header></app-header>
    <div class="row">
        <app-sidebar class="col-md-2"></app-sidebar>

        <main class="col-md-10" style="padding-top: 70px;">
            <div class="container">
                <h2>{{ announcement?.name }}</h2>
                <div *ngIf="!announcement">Carregando...</div>
                
                <div id="carouselExampleIndicators" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li *ngFor="let image of announcement?.images; let i = index" [class.active]="i === selectedIndex" (click)="selectSlide(i)"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div *ngFor="let image of announcement?.images; let i = index" class="carousel-item" [class.active]="i === selectedIndex">
                            <img [src]="'/assets/uploads/' + image.id" alt="Slide" class="d-block w-100">
                        </div>
                    </div>
                    <button class="carousel-control-prev" (click)="prevSlide()">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </button>
                    <button class="carousel-control-next" (click)="nextSlide()">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Próximo</span>
                    </button>
                </div>                
            
                <div *ngIf="announcement?.images && announcement.images.length === 0">
                    <p>Nenhuma imagem disponível.</p>
                </div>                           

                <div>
                    <h4>Características:</h4>
                    <ul>
                        <li>Preço: {{ announcement?.price }}</li>
                        <li>Nascimento: {{ announcement?.birth }}</li>
                        <li>RGA: {{ announcement?.rga }}</li>
                        <li>Código: {{ announcement?.code }}</li>
                        <li>Raça: {{ announcement?.idBreed }}</li>
                        <li>Raça do Pai: {{ announcement?.idBreedPaternal }}</li>
                        <li>Raça da Mãe: {{ announcement?.idBreedMaternal }}</li>
                    </ul>
                </div>

                <div>
                    <h4>Observações:</h4>
                    <p>{{ announcement?.note }}</p>
                </div>

                <div style="text-align: right;">
                    <span>Envie uma mensagem para o dono do anúncio!</span>
                    <img type="button" width="100" height="100" src="/assets/b357a82495676c6c808a7b8c818f5460-removebg-preview.png" alt="Enviar mensagem no WhatsApp" (click)="openWhatsApp(announcement?.user?.contact?.phoneNumber)">
                </div>
            </div>
        </main>
    </div>
</div>
